.main__conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;

  .main__svg__container {
    margin-bottom: 15px;
  }
  .main__button__container {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      transition: 200ms ease;
    }
    button:hover {
      transition: 200ms ease;
      width: 150px;
      height: 42px;
    }
  }
  div {
    display: flex;
    padding: 10px 20px;
    p {
      font-size: 32px;
      color: #fff;
      font-weight: 600;
      letter-spacing: 1.7px;
    }
  }
}
